body {
    background: #2b134b;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #201b2c;
    color: #f0ffffde;
    padding-top: 70px
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}


.separator {
    height: 1px;
    background-color: #514869;
    margin-top: 3px;
    margin-bottom: 20px;
}

.custom-navbar-color {
    background-color: #00ff88;
}

.custom-navbar-text-color {
    color: black;
}

.custom-navbar-font {
    font-family: 'Arial', sans-serif;
}

/* primeiro  1*/
.primeiro{
    border: 3px solid red;
    margin-top: 5vh;
    width:50%;
    margin-left: 25%;
    font-size: 120%;
   /**/ display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.primeiro select{
  width: 15%;
  text-align: center;
}

.primeiro-block{
  display: flex
}

/* Segundo  2*/
.segundo{
    border: 3px solid yellow;
    width:50%;
    margin-top: 5vh;
    /**/display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.segundo select{
  width: 15%;
  text-align: center;
}

label{
  font-size: 90%
}

.font{
  font-size: 130%
}

/* Terceiro  3*/

.terceiro{
    border: 3px solid blue;
    width:50%;
    margin-top: 5vh;
}

.terceiro select{
  width: 15%;
  text-align: center;
}

/* Quarto  4*/
.quarto{
    border: 3px solid pink;
    width:50%;
    margin-top: 5vh;
}

/* Quinto  5*/
.quinto{
  border: 3px solid black;
  width:50%;
  margin-top: 5vh;
}

/* Sexto  6*/
.sexto{
  border: 3px solid orange;
  width:50%;
  margin-top: 5vh;
}

/* Geral --*/
.geral{
    border: 8px solid gray;
    margin-left: 5vh;
    margin-right: 9vh;
}
